body {
  background-color: rgb(237, 238, 238);
}
.head-bar {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  padding: 0 24px 0 24px;
  margin-bottom: 32px;
  background-color: white;
}

.left-bar {
  display: flex;
  align-items: center;
}

#colmar {
  font-weight: bold;
}

#academy {
  color: gray;
}

.right-bar {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

/* section welcome */
.welcome {
  display: flex;
}

.welcome-picture {
  width: 60%;
  margin: 32px 24px;
}

.welcome-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.welcome-text h1 {
  font-size: 52px;
  margin: 10px 0;
}

.welcome-text nav {
  background-color: gray;
  width: 60%;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.welcome-text nav a {
  text-decoration: none;
  color: white;
}

/* section topic */
.topic {
  border: 1px solid black;
  display: flex;
  width: 100%;
}

.large-topic {
  width: 60%;
  padding: 32px 24px;
}

.large-topic-desc {
  display: flex;
  flex-direction: column;
  padding: 32px 0 0 0;
}

.large-topic-desc h1 {
  margin: 0 0 24px 0;
}

.large-topic-desc p {
  margin-top: 0px;
}

.small-topic {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 16px 0px;
}

.small-topic-box {
  display: flex;
  padding: 16px;
}

.small-topic-box:hover {
  background-color: rgb(189, 189, 189);
}

.small-picture {
  width: 35%;
}

.small-picture-desc {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-picture-desc * {
  margin: 8px;
}

.small-picture-desc nav a {
  text-decoration: none;
  margin-left: 0%;
  color: rgb(10, 99, 201);
}

/* section learning */
.learning-head {
  display: flex;
  justify-content: center;
  text-align: center;
}
.learning-head h1 {
  margin: 32px 0 0 0;
}

.learning-block {
  display: flex;
  flex-direction: column;
  padding: 32px 72px;
  gap: 32px;
}

.learning-block-row {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  border: 1px solid black;
}

.learning-card {
  display: flex;
  flex-direction: column;
  width: 30.5%;
  border: 1px solid black;
}

.learning-card img {
  width: 100%;
  height: 100%;
}

.card-desc {
  padding: 16px;
  background-color: white;
  height: 100%;
}

.card-desc p {
  margin: 8px 0;
}

#com-art {
  margin: 8px 0 24px 0;
}

/* section thesis */
.thesis-head {
  text-align: center;
}

.thesis-head h1 {
  margin: 32px 0 0 0;
}

.thesis-parent {
  display: flex;
}

.thesis-video {
  width: 60%;
  padding: 32px 24px;
}

.video-desc h2 {
  margin: 24px 0 8px 0;
}

.video-desc p {
  margin: 0;
}

.thesis-gall {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.thesis-card {
  display: flex;
  padding: 16px;
}

.thesis-card:hover {
  background-color: rgb(173, 171, 171);
}

.thesis-picture {
  width: 35%;
}

.thesis-picture-desc {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

.thesis-picture-desc * {
  margin: 8px;
}
